/* Ellyn Jhean Bunao 8903975*/
body{
    font: normal normal normal 20px Verdana;
    width: 80vw;
    height: 80vw;
    background-color:hsla(245, 50%, 70%, 1);

}

h2{
    font-size: 1rem;
    color:#a63;

}